*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    //1 rem = fon-size.
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 58.5%;
    }

    @include respond(tab-port) {
        font-size: 54%;
    }
    @include respond(phone) {
        font-size: 58%;
    }
}

body {
    box-sizing: border-box;
}




